{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header --}}
{{#author}}
<div id="main">

<div class="title"><a href="{{@blog.url}}" style="text-decoration:none;color: inherit;">raven<span>box</span></a></div>

<div class="navbar">
  <ul>
    <li class="pc"><a href="#">HOME</a></li>
    <li class="pc"><a href="#">HOME</a></li>
    <li class="pc"><a href="#">IT'S WHAT I LONG FOR</a></li>
    <li class="mob"><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
    <li class="mob"><a href="#"><i class="fa fa-code" aria-hidden="true"></i></a></li>
    <li class="mob"><a href="#"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
    <li style="float:right;max-height:40px;"><a class="active" href="#">
    <img src="http://i.imgur.com/CHQmnaK.png" style="margin-right:8px;" class="pc"/>
    <img src="http://i.imgur.com/vFuMeGq.png" style="margin-right:8px;" class="pc"/>
    <img src="http://i.imgur.com/xxck1Ep.png" style="margin-bottom:4px;" class="pc"/>
    </a></li>
    <li style="float:right;max-height:40px;"class="mob"><a class="active" href="#" style="margin-right: -22px;">
    <i class="fa fa-facebook-official" aria-hidden="true" style="margin-right:8px;"></i>
    <i class="fa fa-twitter" aria-hidden="true" style="margin-right:8px;"></i>
    <i class="fa fa-youtube-play" aria-hidden="true" style="margin-bottom:4px;"></i>
    </a></li>
  </ul>
</div>

<div class="author-head" style="background:url({{cover}});">
<div class="fundao">
<img src="{{image}}"/>
<aside class="author-desc"><b class ="author-name">{{name}}</b>
<br>
{{bio}}<br><br>
<a href="{{website}}" style="text-decoration:none;color:inherit;"><i class="fa fa-globe" aria-hidden="true" style="font-size:24px;"></i> Website</a>
<a href="{{facebook}}" style="text-decoration:none;color:inherit;margin-left: 8px;"><i class="fa fa-facebook-official" aria-hidden="true" style="font-size:24px"></i> Facebook</a>
<a href="{{twitter}}" style="text-decoration:none;color:inherit;margin-left: 8px;"><i class="fa fa-twitter" aria-hidden="true" style="font-size:24px"></i> Twitter</a>
</aside>
</span>
</div>
</div>
{{/author}}
<div class="po-div" style="margin-top: 0;">
<div style="margin-top:20px;margin-right:20px;margin-left:20px;">
<div class="po-area">
{{> "loop"}}
</div>
<div class="po-side">
<img src="http://placehold.it/268x500">
</div>
</div>
</div>
<div class="r-footer">
<aside class="r-footer-logo">
raven<span>box</span>
</aside>
<div class="test">
    <aside style="width:160px;">
    <b>About Us</b><br>
Sed sit amet dignissim lorem. Vivamus nisl tortor, fringilla nec justo a, lobortis suscipit magna. Integer efficitur vestibulum ipsum, sua mae. <b>Read More ...</b>
    </aside>
    <aside>
    <b>Site Map</b>
    <span style="font-weight: 600;">
    <br>HOME
    <br>NEWS
    <br>ARTICLES
    <br>ABOUT US
    <br>FORUM
    </span>
    </aside>
    <aside>
    <b>Contact Us</b>
    <span style="font-weight: 600;">
    <br>FACEBOOK
    <br>TWITTER
    <br>YOUTUBE
    <br>STEAM
    <br>E-MAIL
    </span>
    </aside>
    <span class="credits">Made with &hearts; by <a href="https://github.com/Salies" target="_blank"><b>Salies</b></a>, listening to <a href="https://www.youtube.com/watch?v=QrV61ATP3Ec" target="_blank">Dystopia</a> and <a href="https://www.youtube.com/watch?v=cvJcot3pUgI" target="_blank">LTE.</a></span>
</div>
</div>
</div>
</body>
</html>


{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header --}}

{{!-- Everything inside the #author tags pulls data from the author --}}


<!--{{#author}}
    <header class="main-header author-head {{#if cover}}" style="background-image: url({{cover}}){{else}}no-cover{{/if}}">
        <nav class="main-nav overlay clearfix">
            {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
            {{#if @blog.navigation}}
                <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
            {{/if}}
        </nav>
    </header>

    <section class="author-profile inner">
        {{#if image}}
        <figure class="author-image">
            <div class="img" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></div>
        </figure>
        {{/if}}
        <h1 class="author-title">{{name}}</h1>
        {{#if bio}}
            <h2 class="author-bio">{{bio}}</h2>
        {{/if}}
        <div class="author-meta">
            {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
            {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
            <span class="author-stats"><i class="icon-stats"></i> {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span>
        </div>
    </section>
{{/author}}

{{!-- The main content area on the homepage --}}
<main class="content" role="main">

    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    {{> "loop"}}

</main>-->
